
*.lock
PROJEKAT_HCI/.vs/PROJEKAT_HCI/v16/.suo
PROJEKAT_HCI/.vs/PROJEKAT_HCI/v16/.suo
PROJEKAT_HCI/PROJEKAT_HCI/bin/Debug/PROJEKAT_HCI.exe
PROJEKAT_HCI/PROJEKAT_HCI/bin/Debug/PROJEKAT_HCI.pdb
PROJEKAT_HCI/.vs/PROJEKAT_HCI/v16/.suo
PROJEKAT_HCI/.vs/PROJEKAT_HCI/v16/Server/sqlite3/storage.ide-wal
*.ide-wal
PROJEKAT_HCI/.vs/PROJEKAT_HCI/v16/Server/sqlite3/storage.ide-wal
PROJEKAT_HCI/.vs/PROJEKAT_HCI/v16/.suo
PROJEKAT_HCI/.vs/PROJEKAT_HCI/v16/.suo
